name: CI
on: push

jobs:
  checks:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: "1.17"
      - uses: actions/setup-node@v2
        with:
          node-version: ^14

      - name: linting code
        run: make lint

      - name: checking license on source code
        run: make license/check
  build:
    strategy:
      matrix:
        version: ['1.62.0', '1.63.0', '1.68.0', 'stable', 'insiders']
        os: [macos-10.15, ubuntu-20.04, windows-2019]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: "1.17"
      - uses: actions/setup-node@v2
        with:
          node-version: ^14
      - name: Run tests
        uses: GabrielBB/xvfb-action@v1.0
        with:
          run: make test VERSION=${{ matrix.version }}
