name: CI
on: push

jobs:
  checks:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"
      - uses: actions/setup-node@v2
        with:
          node-version: ^18

      - name: linting code
        run: make lint

      - name: checking license on source code
        run: make license/check
  build:
    strategy:
      fail-fast: false
      matrix:
        version: [
          '', # uses the minimum supported version defined in package.json
          '1.62.0',
          '1.63.0',
          '1.68.0',
          'stable',
          'insiders'
        ]
        os: [macos-12, ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"
      - uses: actions/setup-node@v2
        with:
          node-version: ^18
      - name: Run tests
        uses: coactions/setup-xvfb@v1
        env:
          DBUS_SESSION_BUS_ADDRESS: unix:path=/run/user/1000/bus
        with:
          run: make test VERSION=${{ matrix.version }}
